
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/layer-v3.1.1/layer/layer.js"></script>
</head>
<body>
    <div style="width: 900px; height: 500px; border: solid 0.5px; margin: auto; text-align: center">
        <p style="width: 100%; text-align: center; background-color: aquamarine;font-size: 26px"> @ViewBag.Title<span>流程设置</span></p>
        <p style="font-size: 30px; padding: 20px">
            审批类型：
            @foreach (var item in @ViewBag.RadioType)
            {
                <input id="Radio1" onclick="checkClick(@item.Id)" type="radio" value="@item.Id" name="RadioButton" />@item.TypeName
            }
        </p>
        <p style="font-size: 30px; padding: 20px" id="ClassA">
            一级审批
            <select id="SelectLevel">
                @*  <option selected="selected">=请选择=</option>*@
            </select>
        </p>
        <p style="font-size: 30px; padding: 20px" id="TwoLevel">
        </p>


        <p style="font-size: 30px; padding: 20px">审批方式:依次审批</p>
        <input id="Submit1" type="button" value="保存" class="btn btn-group-justified" style="font-size: 20px" />
    </div>
</body>
</html>
<script>
    $(function () {
        $("#ClassA").hide();
        $("#TwoLevel").hide();
    });
    function checkClick(id) {
        if (id == 1) {
            $("#ClassA").show();
            $("#TwoLevel").hide();
            $.ajax({
                url: "/Approval/GetListUserLevel",
                dataType: 'Json',
                success: function (data) {
                    $("#SelectLevel").empty();
                    //$("#SelectLevel").append("<option  selected='selected' value=0>=请选择=</option>");
                    $(data).each(function () {
                        $("#SelectLevel").append("<option value=" + this.Id + ">" + this.LevelName + "</option>");
                    });

                }

            });
        }
        if (id == 2) {
            $("#ClassA").hide();
            $("#TwoLevel").show();
            $("#TwoLevel").empty();
            $("#TwoLevel").append('<input id="saveUser" type="button" value="+"style="background-color: #80D4C7; color: #e2f5f5; padding: 0px 30px; font-size: 30px;" class="btn layui-btn" /><span style="font-size: 20px">(可添加人员的数量)</span>');
        }
    }

    $("#saveUser").click(function () {
        layer.open({
            type: 2,
            title: "角色人员添加", //表头
            closeBtn: 1, //不显示关闭按钮
            maxmin: true,
            area: ["500px", " 700px"], //宽高
            shift: 2,
            content: ["/Approval/AddUser", 'yes'],//iframe的url，no代表不显示滚动条
            end: function () {
                if (true);
            }
        });
    });
</script>